<app-dashboard-layout [role]="'REVIEWER'">

    <section class="request-page">
        <header class="page-header">
            <div>
                <h1>Review Queue</h1>
                
                <p>Approve, reject, and manage requests.</p>
            </div>
        </header>
    </section>

    @if (requests().length > 0) {
        <div class="request-toolbar">
            <label class="search">
                <svg
                lucideSearch
                class="search-icon"
                aria-hidden="true"
                ></svg>

                <input 
                type="search"
                placeholder="Search by Port/Terminal, Shipping Agent, or Manifest Number"
                aria-label = "Search requests"
                (input)="updateSearch($event)"
                />
            </label>
            <div class="filter-wrapper">
                <button
                    type="button"
                    class="filter-button"
                    (click)="toggleFilter()">
                    <svg
                        lucideListFilter
                        class="button-icon"
                        aria-hidden="true"
                    ></svg>

                    <span>Filter</span>
                </button>

                @if (isFilterOpen()) {
                    <div class="filter-menu">
                        <div class="filter-field">
                            <label for="statusFilter">Status</label>

                            <select
                                id="statusFilter"
                                [value]="statusFilter()"
                                (change)="statusFilter.set($any($event.target).value)"
                            >
                                <option value="ALL">All statuses</option>
                                <option value="SUBMITTED">Submitted</option>
                                <option value="UNDER_REVIEW">Under Review</option>
                                <option value="RESUBMITTED">Resubmitted</option>
                                <option value="REJECTED">Rejected</option>
                            </select>
                        </div>

                        <div class="filter-field">
                            <label for="statusFilter">Request Type</label>

                            <select
                                id="statusFilter"
                                [value]="statusFilter()"
                                (change)="statusFilter.set($any($event.target).value)"
                            >
                                <option value="ALL">All requests</option>
                                <option value="SUBMITTED">Submitted</option>
                                <option value="UNDER_REVIEW">Under Review</option>
                                <option value="RESUBMITTED">Resubmitted</option>
                                <option value="REJECTED">Rejected</option>
                            </select>
                        </div>

                        <div class="filter-field">
                            <label for="dateFrom">Created from</label>

                            <input
                                id="dateFrom"
                                type="date"
                                [value]="dateFrom()"
                                (change)="dateFrom.set($any($event.target).value)"
                            >
                        </div>

                        <div class="filter-field">
                            <label for="dateTo">To</label>

                            <input
                                id="dateTo"
                                type="date"
                                [value]="dateTo()"
                                (change)="dateTo.set($any($event.target).value)"
                            >
                        </div>

                        <div class="filter-actions">
                            <button type="button" class="clear-filter-button" (click)="clearFilters()">Clear</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="table-container">

            <ngx-datatable
                class="material request-table"
                [rows]="filteredRequests()"
                [columnMode]="'flex'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [limit]="10"
                [scrollbarH]="true"
                [sorts]="tableSorts"
                (activate)="onTableActivate($event)"
            >
                <ngx-datatable-column
                    name="Created"
                    prop="createdAt"
                    [flexGrow]="1"
                    [width]="140"
                >
                    <ng-template
                        ngx-datatable-cell-template
                        let-row="row"
                    >
                        {{ row.createdAt | date:'dd MMM yyyy' }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                    name="Request Type"
                    prop="requestType"
                    [flexGrow]="2.2"
                    [width]="220"
                >
                    <ng-template
                        ngx-datatable-cell-template
                        let-row="row"
                    >
                        {{ row.requestType ?? "-" }}
                    </ng-template>
                    
                </ngx-datatable-column>

                <ngx-datatable-column
                    name="Manifest Number"
                    prop="manifestNumber"
                    [flexGrow]="1"
                    [width]="130"
                >
                    <ng-template
                        ngx-datatable-cell-template
                        let-row="row"
                    >
                        {{ row.manifestNumber ?? "-" }}
                    </ng-template>
                    
                </ngx-datatable-column>

                <ngx-datatable-column
                    name="Bill of Lading"
                    prop="billOfLadingWaybill"
                    [flexGrow]="1"
                    [width]="130"
                >
                    <ng-template
                        ngx-datatable-cell-template
                        let-row="row"
                    >
                        {{ row.billOfLadingWaybill ?? "-" }}
                    </ng-template>
                    
                </ngx-datatable-column>

                <ngx-datatable-column
                    name="Status"
                    prop="status"
                    [flexGrow]="1.3"
                    [width]="190"
                >
                    <ng-template
                        ngx-datatable-cell-template
                        let-row="row"
                    >
                        <span
                            class="request-status-badge"
                            [class.submitted-status]="row.status === 'SUBMITTED'"
                            [class.under-review-status]="row.status === 'UNDER_REVIEW'"
                            [class.approved-status]="row.status === 'APPROVED'"
                            [class.rejected-status]="row.status === 'REJECTED'"
                            [class.resubmitted-status]="row.status === 'RESUBMITTED'"
                        
                        >
                            {{ getStatusLabel(row.status) ?? "-" }}
                        </span>
                    </ng-template>
                    
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    } @else {
        <div class="no-requests">
            <div class="no-requests-icon-div">
                <svg
                    lucideFile
                    class="no-requests-icon"
                    aria-hidden="true"
                    ></svg>
            </div>
            <h3>No requests to be reivewed yet</h3>
            <p>Requests submitted by applicants will be displayed here.</p>
        </div>
    }
</app-dashboard-layout>